.table-grid {
  font-family: Space Mono;
  font-size: 16pt;
  position: relative;
  top: 40px;
  left: 40px;
  height: 400px;
  align-content: center;
  background-color: #eeeeee;
  border-radius: 25px;
}